[project]
name = "hexlet-code"
version = "0.1.0"
description = "Add your description here"
requires-python = ">=3.13"
dependencies = [
    "django>=6.0",
    "gunicorn>=22.0",
    "python-dotenv>=1.0.0",
]
