{% extends 'base.html' %}
{% load i18n %}

{% block title %}{% trans "Home" %} - {% trans "Task Manager" %}{% endblock %}

{% block content %}
<div class="row">
    <div class="col-12">
        <div class="jumbotron bg-light p-5 rounded">
            <h1 class="display-4">{% trans "Hello from Hexlet!" %}</h1>
            <p class="lead">{% trans "Practical programming courses" %}</p>
            <hr class="my-4">
            <p class="mb-4">{% trans "This is a simple Task Manager created as part of learning at Hexlet" %}</p>
            <a class="btn btn-primary btn-lg" href="#" role="button">{% trans "Learn more" %}</a>
        </div>
    </div>
</div>
{% endblock %}
